.caixa-cinza{
    display: flex;
    flex-direction: row-reverse;

    background-color: #686868;

}

.caixa-direction{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.numero{
    font-size: 150%;
    color:rgb(255, 230, 0);
    font-weight: bold;
}

.circulo{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: #686868;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caixa-branca{
    background-color: #fff;
    border:dotted 2px black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.caixa-wrap{
    width: 100px;
    height: 100px;
    background-color: #a82912;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}