.caixa-cinza{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    height: 150px;
    background-color: #686868;
}

.caixa-direction{
    width: 100px;
    height: 100px;
    
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.numero{
    font-size: 150%;
    color:rgb(255, 230, 0);
    font-weight: bold;
}

.circulo{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: #686868;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caixa-branca{
    background-color: #fff;
    border:dotted 2px black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.caixa-wrap{
    width: 100px;
    height: 100px;
    background-color: #a82912;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}


.caixa-azul{
    background-color: rgb(37, 100, 216);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixa-justify{
    width: 100px;
    height: 100px;

    border-radius: 10px;
    background-color: #fab778;
    margin: 5px;
    border: 10px;
}

.caixa-azul2{
    background-color: rgb(37, 100, 216);
    border-radius: 10px;
    padding: 5px;
    width: 111px;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}

.caixa-justify2{
    width: 100px;
    height: 100px;

    border-radius: 10px;
    background-color: #fab778;
    margin: 5px;
    border: 10px;
}